.testimony {
    padding-block-start: 40px;
    padding-block-end:40px ; 
}


.testimony-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.testimony-img {
  text-align: center;
}
.testimony-img img{
    max-inline-size: 100%;
}

@media screen and (min-width: 768px) {
  .testimony {
    display: flex;
    align-items: center;
    padding-block-start: 80px;
    padding-block-end:80px ;
    gap: 32;
  }
  .testimony-description {
    flex: 1;
  }
  .testimony:nth-of-type(odd) .testimony-img {
    order: 2;
    flex: 1;
  }
}
